@import './base.css';

#app {
  max-width: 1024px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: blueviolet;
  transition: 0.4s;
}

a:hover {
  color: purple;
}


.gap-2em {
  gap: 2em;
}

.gap-1em {
  gap: 1em;
}

.show-borders {
  border: 1px solid orange;
}